<!DOCTYPE html>
<html>
  <head>
    <title>{{ page.title }}</title>
    
    <link rel="stylesheet" type="text/css" href="/css/main.css">
  
  </head>


  <body>
    <nav>
<ul>
<li><a href="/">Contact</a></li>
<li><a href="/publications">Publications</a></li>
<li><a href="/teaching">Teaching</a></li>
</ul>
    </nav>
<div class="container">

  {{ content }}

</div>
  
  <footer>
   <ul>
   email: <li><a href="mailto:mack@cs.uni-bonn.de">mack@cs.uni-bonn.de</a></li>
   <!--<li><a href="http://jennymack.github.io/">jennymack.github.io</a></li>-->
   </ul>
  </footer>
  </body>

</html>
